html, body {
    background-color: rgb(128, 128, 127);
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .title{
      position: relative;
      top: 5%;
      left: 33%;
      width: fit-content;
      height: fit-content;
      color: white;

  }
  .map {
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
      position: relative;
      top: 10%;
      left: 0%;
      
      bottom: 15%;
    /* configure the size of the map */
    width: 70%;
    height: 70%;
  }


  ul{
   
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
      overflow-y: scroll;
      height: 70%;
      position: absolute;
      top: 20%;
      width: 20%;
      right: 3%;
      list-style: none;
      .list-element{
          color: white;
          cursor: pointer;
          &:hover{
              color: aqua;
          }
      }
  }