html, body {
    background-color: rgb(128, 128, 127);
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .title{
      position: relative;
      top: 5%;
      left: 33%;
      width: fit-content;
      height: fit-content;
      color: white;

  }
  .clear-map-button{
    position: absolute;
    top: 18%;
    left: 3%;
    width: fit-content;
    height: fit-content;
  }
  .pop-up-message{
    position: absolute;
    top: 15%;
    left: 40%;
    width: fit-content;
    height: fit-content;
    color: white;
  }
  .map {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
      border-radius:  5px;
      position: relative;
      top: 10%;
      left: 3%;
      
      bottom: 15%;
    /* configure the size of the map */
    width: 70%;
    height: 70%;
  }

  .countries-list-title{
    position: absolute;
    top: 24%;
    text-decoration: underline;
    
    right: 12.1%;

    width: fit-content;
    height: fit-content;
    color: white;
  }


  ul{
   
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius:  5px;
      overflow-y: scroll;
      height: 60%;
      position: absolute;
      top: 30%;
      width: 20%;
      right: 3%;
      list-style: none;
      .list-element{
          color: white;
          cursor: pointer;
          -webkit-transition: color 0.2s ease-out;
          &:hover{
              color: aqua;
          }
      }
  }